<!DOCTYPE html>
<html lang="en" ng-app="HousingApp">
<head>
	<meta charset="UTF-8">
	<title>Hackathon FrontEnd</title>
	<link rel="stylesheet" href="lib/angular-material/angular-material.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="MainCtrl" ng-cloak>
	<div class="totalwrapper">
		<md-toolbar>
			<div class="md-toolbar-tools" layout="row" layout-margin="20">
				<h2 flex="20">
					<span>Housing Demo App</span> 
				</h2>
				<md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText)" md-item-text="item.description" md-min-length="3" placeholder="Search for a location" flex>
					<span md-highlight-text="searchText" ng-click="locationSelected(item)">{{item.description}}</span>
				</md-autocomplete>
				<!-- <md-select placeholder="Select a city" ng-model="selectedCity" flex="18">
					<md-option ng-repeat="city in cities" ng-value="city">{{city}}</md-option>
				</md-select> -->
			</div>
		</md-toolbar>
	
		<div class="mapwrapper">
			<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
		</div>
	</div>
	
	<!-- Libraries -->
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular-animate/angular-animate.min.js"></script>
	<script src="lib/angular-aria/angular-aria.min.js"></script>
	<script src="lib/angular-material/angular-material.min.js"></script>
	<script src="lib/lodash/dist/lodash.min.js"></script>
	<script src="lib/angular-google-maps/dist/angular-google-maps.min.js"></script>

	<!-- Angular Module -->
	<script src="app/app.js"></script>

	<!-- Controllers -->
	<script src="app/controllers/main.js"></script>
</body>
</html>